<article class="post-card post{% unless post.feature_image %} no-image{% endunless %}">
  {% if post.feature_image %}
    <a class="post-card-image-link" href="{{ post.url | relative_url }}">
      <div class="post-card-image" style="background-image: url({{ post.feature_image }})"></div>
    </a>
  {% endif %}

  <div class="post-card-content">
    <a class="post-card-content-link" href="{{ post.url | relative_url }}">
      <header class="post-card-header">
        {% unless post.tags.count.zero? %}
          <span class="post-card-tags">{{ post.tags.first }}</span>
        {% endunless %}

        <h2 class="post-card-title">{{ post.title }}</h2>
      </header>

      <section class="post-card-excerpt">
        <p>{{ post.excerpt | default: post.content | strip_html | normalize_whitespace | truncatewords: 33 | escape }}</p>
      </section>
    </a>

    {% assign found_authors = site.authors | where: 'title', post.author | size %}
    {% if 0 < found_authors %}
      {% assign author = site.authors | where: 'title', post.author | first %}
    {% else %}
      {% assign author = site.author %}
    {% endif %}

    <footer class="post-card-meta">
      {% if author.avatar %}
        {% if author.avatar contains "://" %}
          <img class="author-profile-image" src="{{ author.avatar }}" alt="{{ author.title }}" itemprop="image">
        {% else %}
          <img class="author-profile-image" src="{{ author.avatar | absolute_url }}" alt="{{ author.title }}" itemprop="image">
        {% endif %}
      {% else %}
        <img class="author-profile-image" src="{{ author.email | default: "" | to_gravatar }}?d=mm&s=25" alt="{{ author.title }}" itemprop="image">
      {% endif %}
      <span class="post-card-author">
        <a href="{{ author.url | relative_url }}">{{ author.title }}</a>
      </span>
    </footer>
  </div>
</article>
